
        <html>
        <head><title>News Update Detector</title></head>
        <body>
        <ol><li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/coronavirus/2020/06/13/flu-coronavirus-lockdowns/' target='_blank'>Flu deaths prevented as cases plummet amid coronavirus lockdowns, AMA says</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/coronavirus/2020/06/13/coronavirus-protests-police/' target='_blank'>Hundreds of police swamp Sydney CBD in show of force against protesters</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/world/us-news/trump-news/2020/06/13/first-lady-got-new-pre-nuptial-deal-from-donald-trump-book/' target='_blank'>First lady got new pre-nuptial deal from Donald Trump: book</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/coronavirus/2020/06/13/flu-coronavirus-lockdowns/' target='_blank'>Flu deaths prevented as cases plummet amid coronavirus lockdowns, AMA says</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/world/2020/06/13/racism-fawlty-towers/' target='_blank'>Churchill statue under guard as wave of anti-racism sentiment topples monuments</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/national/2020/06/13/toilet-paper-war/' target='_blank'>The Great Toilet Paper War of 2020: Here are the worst culprits</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/coronavirus/2020/06/13/coronavirus-protests-police/' target='_blank'>Hundreds of police swamp Sydney CBD in show of force against protesters</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/coronavirus/2020/06/13/flu-coronavirus-lockdowns/' target='_blank'>Flu deaths prevented as cases plummet amid coronavirus lockdowns, AMA says</a></li>
<li><p id='date'>2020/06/13</p><a href='https://thenewdaily.com.au/news/coronavirus/2020/06/13/coronavirus-protests-police/' target='_blank'>Hundreds of police swamp Sydney CBD in show of force against protesters</a></li>
</ol>
        </body>
        </html>
        